[submodule "homework_projects/gitclassroom/homework_projects/gitclassroom/githubclassroomtutorial-sedihglow"]
	path = homework_projects/gitclassroom/homework_projects/gitclassroom/githubclassroomtutorial-sedihglow
	url = git@github.com:PSUECE373/githubclassroomtutorial-sedihglow.git
[submodule "homework_projects/gitclassroom/gitclassroom/githubclassroomtutorial-sedihglow"]
	path = homework_projects/gitclassroom/gitclassroom/githubclassroomtutorial-sedihglow
	url = git@github.com:PSUECE373/githubclassroomtutorial-sedihglow.git
[submodule "homework_projects/gitclassroom/githubclassroomtutorial-sedihglow"]
	path = homework_projects/gitclassroom/githubclassroomtutorial-sedihglow
	url = git@github.com:PSUECE373/githubclassroomtutorial-sedihglow.git
[submodule "homework_projects/gitclassroom/gitclass_assignment1-james_ross"]
	path = homework_projects/gitclassroom/gitclass_assignment1-james_ross
	url = git@github.com:PSUECE373/ece373---assignment-1---hellooooo-linux-sedihglow.git
[submodule "homework_projects/gitclassroom/gitclass_assignment2_char_driver_basics-james_ross"]
	path = homework_projects/gitclassroom/gitclass_assignment2_char_driver_basics-james_ross
	url = git@github.com:PSUECE373/ece373---assignment-2---char-driver-basics-sedihglow.git
[submodule "homework_projects/gitclassroom/gitclass_assignment3_pci_led-james_ross"]
	path = homework_projects/gitclassroom/gitclass_assignment3_pci_led-james_ross
	url = git@github.com:PSUECE373/ece373---assignment-3---pci-led-sedihglow.git
[submodule "homework_projects/gitclassroom/gitclass_assignment4_pci_timer_blinker-james_ross"]
	path = homework_projects/gitclassroom/gitclass_assignment4_pci_timer_blinker-james_ross
	url = git@github.com:PSUECE373/ece373---assignment-4---blinker-sedihglow.git
