[submodule "homework_projects/gitclassroom/homework_projects/gitclassroom/githubclassroomtutorial-sedihglow"]
	path = homework_projects/gitclassroom/homework_projects/gitclassroom/githubclassroomtutorial-sedihglow
	url = git@github.com:PSUECE373/githubclassroomtutorial-sedihglow.git
[submodule "homework_projects/gitclassroom/gitclassroom/githubclassroomtutorial-sedihglow"]
	path = homework_projects/gitclassroom/gitclassroom/githubclassroomtutorial-sedihglow
	url = git@github.com:PSUECE373/githubclassroomtutorial-sedihglow.git
[submodule "homework_projects/gitclassroom/githubclassroomtutorial-sedihglow"]
	path = homework_projects/gitclassroom/githubclassroomtutorial-sedihglow
	url = git@github.com:PSUECE373/githubclassroomtutorial-sedihglow.git
[submodule "homework_projects/gitclassroom/gitclass_assignment3_pci_led-james_ross"]
	path = homework_projects/gitclassroom/gitclass_assignment3_pci_led-james_ross
	url = git@github.com:PSUECE373/ece373---assignment-3---pci-led-sedihglow.git
[submodule "homework_projects/gitclassroom/gitclass_assignment_8_desc_reading-james_ross"]
	path = homework_projects/gitclassroom/gitclass_assignment_8_desc_reading-james_ross
	url = git@github.com:PSUECE373/ece373---assignment-hw8---descriptor-reading-sedihglow.git
